Types of Argument
1. Positional Arguments: Parameter will write first to that the value will get associated.
2. Default Arguments: getting some default values associated to parameters
3. Arbitrary Arguments
4. Keyword Arguments: while calling the function, we need to provide the input and output in the form of key value pair (by using = not the :)
5. Arbitrary Keyword Arguments

In [3]:
def name(First_name, Last_name):  # positionam argument
  print('Hi your first_name is ',First_name, Last_name)

In [4]:
name('Adaziia','Lerite')

Hi your first_name is  Adaziia Lerite

In [5]:
def greet(name,message='Hi How are you?'):    #defult argument/ Here message is the defult value
     print(name,message)

In [7]:
greet('Adaziia','Good morning') # If the user is providing the message , the message will display.

Adaziia Good morning

In [8]:
greet('Rebecca',)    # but if the user did not providing the message then by defualt value the message will be attach.

Rebecca Hi How are you?

Create a function which takes name and salary as input and incase the salary is not provided, use defualt salary as 25000. Display the name and salary of the individual.

In [10]:
def employee(name,salary=25000):
  print(name,'Your monthly Salary is ',salary)

In [11]:
employee('Adaziia',30000)

Adaziia Your monthly Salary is  30000

In [12]:
employee('Rebecca',)

Rebecca Your monthly Salary is  25000

In [13]:
employee('Hriiyia',)

Hriiyia Your monthly Salary is  25000

In [14]:
def greet(name,age,message):
  print(message, name,'your age is',age)    # Keyword argument:similiar kind of concept with the dict/ u can give key value pair in any order

In [15]:
greet(name='Adaziia',age=23,message='Good afternoon')

Good afternoon Adaziia your age is 23

In [16]:
greet (message='How are you',name='Hriiyia',age=45)

How are you Hriiyia your age is 45

In [26]:
# Arbitrary Arguments : is use when you want to take a variable lengh of arguments as input from the user(*args)/// by default it is tuples
def add(*args):
  print(type(args))
  print(args)
  sum=0
  for num in args:
    sum=sum+num
  return sum

In [27]:
add(7,8)

(7, 8)

15

In [28]:
def sum(*args):
  print(type(args))
  print(args)
  sum=0
  for num in args:
    sum=sum+num
  return sum

In [29]:
sum(3,46,56)

<class 'tuple'>
(3, 46, 56)

105

In [41]:
def func(a,b,c,*args):
  print(a)
  print(b)
  print(c)
  print(args)

In [42]:
func(2,3,5,5678689)

2
3
5
(5678689,)

In [34]:
func(1,3,4,6,7,8,9)

1
3
4
(6, 7, 8, 9)

In [38]:
# Arbitrary keyword Arguments: having the property of both arguments/ symbol=**kwargs /defAULT TYPE IS DICTIONARY
def display(**kwargs):
  print(type(kwargs))
  print(kwargs)

  for key,value in kwargs.items():
    print(key,'---->',value)

In [40]:
display(Name='Eloni',Age=23,City='Guwahati',Designation='Fashion designer')

<class 'dict'>
{'Name': 'Eloni', 'Age': 23, 'City': 'Guwahati', 'Designation': 'Fashion designer'}
Name ----> Eloni
Age ----> 23
City ----> Guwahati
Designation ----> Fashion designer